body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,70,83,1) 35%, rgba(42,157,143,1) 100%); 
    display: grid;
    place-content: center;
    margin-bottom: 3rem;
}
main{
    text-align: center;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
   

}
p{
    font-size: 1.5rem;
    max-width:50%;
    margin: auto;
}
.soon{
    
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 4rem;

    
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  margin-top: 5rem;
}